@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}

.voltas {
    font-size: 64px;
    font-weight: bold;
}

.voltas span {
    font-size: 288px;    
}

button {
    background-color: #F9F9F9;
    border: 1px solid black;
    font-size: 18px;
    padding: 22px;
    margin: 8px;
}

.tempo span {
    font-weight: bold;
    font-size: 64px;
}

.bigger {
    font-size: 144px;
    font-weight: bold;
    line-height: 50px;
}