.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.gameContent {
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 50px;
}

.extraContent {
  color: #999 !important;
  background-color: #efefef;
  border: 2px dashed #aaa;
  padding: 10px;
}

.contador {
  margin-left: 20px;
}

.btnResetar {
  margin-left: 20px;
}
